@inherits LayoutComponentBase

<ButtonActionReporter />
<div class="page">
    <div class="sidebar scr-sidebar">
        <NavMenu />
    </div>
    <main class="scr-main">
        <article class="content px-3 py-2">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
